.Photos{
   
    background: #68967f94;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 80px;
    padding-left: 15px;
    text-shadow: rgb(153, 154, 153) 0px 0px 10px;
    font-size: 25px;
     margin-left: 2%;
    margin-right: 2%;
}

.Photos img{
    border-radius: 8px;
    white-space: 10px;
    margin-bottom: 20px;
}