.Results{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
    overflow-x: scroll;
    padding-bottom: 5px;


}
.word{
    background-position: center;
    background: #68967f94;
    /* background-color: #19574495; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    /* min-width: 905px; */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}
.printedWord{
    font-size: 40px;
    /* margin-left: 320px; */
}

a {
  /* text-decoration: none; */
  color: #B88ADD;
  font-size: 20px;
  margin-right: 30px;
}